$white: #FFFFFF;
$black: #10131C;
$yellow: #DCF10D;
$blue: #0266FF;
$dark-blue: #192140;
$dirty-white: #F8F9FC;
$light-gray: #9D9DB5;
$footer-text-color: #D7F8FF;
$main-font: 'Inter', sans-serif;
$L-font: 700;
$M-font: 600;
$S-font: 500;
$XS-font: 400;